/* AnalyticContent.css */

.analytic-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
    color: #d32f2f; /* Ярко-красный цвет для заголовка */
}

h3 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #d32f2f;
}

h4 {
    margin-top: 25px;
}

.expense-list,
.risk-description-list {
    margin: 10px 0; 
    list-style: none; 
    padding-left: 0; 
}

.expense-list li,
.risk-description-list li {
    color: #333; 
}

.expense-list li,
.risk-description-list li {
    background: none; 
    border: none;
}

.alert-box {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #ffebee; 
    color: #b71c1c;
    border-radius: 4px;
    margin-top: 15px;
}

.alert-icon {
    margin-right: 8px;
    font-size: 22px;
}

.alert-content p {
    margin: 0;
}

img {
    width: 100%;
    margin: 2rem 0;
}


@media (max-width: 768px) {
    .analytic-content {
        padding: 10px; 
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    .alert-box {
        font-size: 14px;
        padding: 6px;
    }

    .alert-icon {
        font-size: 20px;
    }

    .expense-list li,
    .risk-description-list li {
        font-size: 14px;
        margin-bottom: 2px; 
    }
}

